doctype html
html(prefix="og: http://ogp.me/ns#")
  head
    title= title
    link(rel="stylesheet", href="/fontello.css")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    if og_data
        meta(property="og:title" content="#{og_data.title}")
        meta(property="og:description" content="#{og_data.description}")
        meta(property="og:title" content="#{og_data.title}")
        meta(property="og:image" content="#{og_data.image}")
        meta(property="og:url" content="#{og_data.url}")
  body(itemscope, itemtype="http://schema.org/Blog")
    script !{page_data}
    block content
    link(rel='stylesheet', href='/stylesheets/#{app_css}')
    !{tracking}
    script(src='/react/#{main_file}' type='text/javascript' defer)
